<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media='screen,print'>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" media='screen,print'>

    <style>
      body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12px;
        color: #000;
        padding-top: 30px;
      }
    </style>

</head>
<body>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
