{{define "footer"}}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/invoice/bower_components/bootstrap/dist/css/bootstrap.css" media='screen,print'>
</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <small>
          <div class="text-center">
            <small>
              <em>
                &#42;VAT legal rate - Article 259-1° of CGI
              </em>
            </small>
          </div>
          <hr>
          <small class="text-muted">
            <address>
              Fake Business sarl<br>
              42 cool street<br>
              12345 La Rochelle<br>
              France<br>
              <a href="https://example.com">https://example.com</a> - <a href="mailto:contact@example.com">contact@example.com</a><br>
            </address>
          </small>
        </small>

      </div>
    </div>
  </div>

</body>
</html>
{{ end }}
